<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EOS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetectProjectInfo</display-name>
    <servlet-name>DetectProjectInfo</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.DetectProjectInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetectProjectInfo</servlet-name>
    <url-pattern>/DetectProjectInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrawlAllResource</display-name>
    <servlet-name>CrawlAllResource</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.CrawlAllResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrawlAllResource</servlet-name>
    <url-pattern>/CrawlAllResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartCrawlerTask</display-name>
    <servlet-name>StartCrawlerTask</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.StartCrawlerTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartCrawlerTask</servlet-name>
    <url-pattern>/StartCrawlerTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTaskStatus</display-name>
    <servlet-name>GetTaskStatus</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.GetTaskStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTaskStatus</servlet-name>
    <url-pattern>/GetTaskStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjectInfo</display-name>
    <servlet-name>GetProjectInfo</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.GetProjectInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjectInfo</servlet-name>
    <url-pattern>/GetProjectInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjectList</display-name>
    <servlet-name>GetProjectList</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.GetProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjectList</servlet-name>
    <url-pattern>/GetProjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCrawlerTaskInfo</display-name>
    <servlet-name>GetCrawlerTaskInfo</servlet-name>
    <servlet-class>cn.edu.pku.EOS.servlet.GetCrawlerTaskInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCrawlerTaskInfo</servlet-name>
    <url-pattern>/GetCrawlerTaskInfo</url-pattern>
  </servlet-mapping>
</web-app>